.DS_Store
.gradle/
.kotlin/
**/build/
local.properties
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
app/src/main/assets/gemma3-270m-it-q8.litertlm


build/*
.kotlin/
**/.idea/
*.litertlm
